<div class= "column is-one-third">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <%= product.name %>
      </p>
      <% if product.image.present? %>
        <div class="card-image">
          <figure class="image">
            <%= image_tag product.image, style: 'height: 200px; width: 200px' %>
          </figure>
        </div>
      <% end %>
      <p class="subtitle">
        $<%= product.price %>
      </p>
      <p>
        <%= product.company.name %>
      </p>



    </div>
  </div>

</div>