


<div class="columns is-multiline">
  <% @products.each do |product| %>
    <%= render partial: 'product', object: product %>
  <% end %>
</div>

<div class="block is-align-items-center" style="width: 10%">
  <%= paginate @products %>
</div>