
<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <%= image_tag "logo.jpg" %>
    </div>

    </div>
    <div class="navbar-menu">
      <%= link_to "Home", products_index_path, class: "navbar-item" %>
      <%= link_to "Categories", categories_index_path, class: "navbar-item" %>
    </div>
  </nav>
</header>